@import 'tailwindcss';

@theme {
  --color-black: #2b2b2b;
  --color-green: #7fbf8c;
  --color-brown: #7f5f3b;
  --color-gray: #e6e6e6;
  --color-rose: #c97b7b;
  --color-cream: #f5f3ec;

  --font-text: 'Besley', serif;
}

.fade {
  transition: opacity 1s ease-in-out;
}
