---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const verhalen = await getCollection('verhalen');
    const paths = verhalen.map((verhaal) => ({
        params: { slug: verhaal.slug }, // Zorg ervoor dat slug een string is
        props: { verhaal },
    }));
    console.log(paths); // Controleer de gegenereerde routes
    return { paths };
}
export async function get({ props }) {
    return {
        props: {
            verhaal: props.verhaal,
        },
    };
}

interface Verhaal {
    data: {
        title: string;
    };
}

const { verhaal } = Astro.props as { verhaal: Verhaal };
---

<Layout>
    <article>
        <h1>{verhaal.data.title}</h1>
    </article>
</Layout>